<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lovoo.android.pickapp">

    <application>
        <activity
            android:name=".view.PickPicActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/PickPicAppTheme.NoActionbar" />
    </application>

</manifest>